<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Locate Your Hospital</title>
    <nav>
            <div class="nav-wrapper blue darken-3">
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><span class="blue grey-text text-darken-4">
                        <div style="font-family: 'Abel', sans-serif;">
                            <b>8379.6775&nbsp;&nbsp;&nbsp;&nbsp;|</b> 
                        </div>
                    </span></li>
                <li><a href="http://127.0.0.1:5000/about">About</a></li>
                <li><a href="http://127.0.0.1:5000/">Logout</a></li>
              </ul>
            </div>
          </nav>
    <style>
            .container {
            position: relative;
            text-align: center;
            color: white;
            }
            .centered {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            }
        </style>
</style>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://kit.fontawesome.com/a2a39ff18e.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Allura&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body><br><br>
        <a href="http://127.0.0.1:5000/mainmenu">
            <div style="width: 340px; height: 180px; overflow: hidden">
                <img sclass="centered-and-cropped" src="http://127.0.0.1:5000/file/ayosehat.png" alt="" height="80" width="300">
            </div>
          </a>
    <center>
        <h1><div style="font-family: 'Abel', sans-serif;font-size: 1.5cm">
            Locate Your Nearest Hospital !
        </div></h1><b><hr></b><br>
        <iframe src="/map" width="1500" height="800"></iframe>
    </center><br><br>
    <div class="card-panel blue-grey darken-4">
            <div class="center-align">
                <h5>
                    <span class="white-text text-white">
                        <div style="font-family: 'Abel', sans-serif;">
                        Call Us At
                        </div>
                    </span>
                </h5>
                <h4>
                    <span class="blue-text text-darken-1">
                        <div style="font-family: 'Abel', sans-serif;">
                            8379.6775
                        </div>
                    </span>
                </h4>
            </div>
    </div>
</body>
<footer class="page-footer blue darken-3"> 
        <div class="footer-copyright">
          <div class="container">
          © 2019 Ayo Sehat Clinic
          </div>
        </div>
      </footer>
</html>

    
