<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ayo Sehat Health Center</title>
    <!-- <style>
        body,html{height: 100%;}
        body{background-image: url(https://wallpapercave.com/wp/wp2581385.jpg)};
        


    </style> -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/a2a39ff18e.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura&display=swap" rel="stylesheet">

</head>
<body><br>
    <a href="http://127.0.0.1:5000/">
        
        <div style="width: 340px; height: 180px; overflow: hidden">
            <img sclass="centered-and-cropped" src="http://127.0.0.1:5000/file/ayosehat.png" alt="" height="80" width="300">
        </div>
    </a>
          <div class="col s12 m7">
            <h2 class="header"></h2>
                <div class="card horizontal">
                    <div class="card-image">
                    <img src="https://wallpapercave.com/wp/wp1828841.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="row">
                            <form class="col s12" action="http://127.0.0.1:5000/menu" method="POST">
                                <div class="row">
                                    <div class="input-field col s4 offset-m4">
                                        <input type="text" name="username" id="username">
                                        <label for="username">Username</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s4 offset-m4">
                                        <input type="password" name="password" id="password">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <center>
                                        <button class="btn waves-effect waves-light" type="submit">
                                                Sign In<i class="material-icons right">send</i>
                                        </button>
                                    </center>
                                </div>
                            </form>
                        </div>
                            <center>
                                <p> 
                                    <h6>No Account ? <a href="http://127.0.0.1:5000/signup">Create One !</a></h6>
                                </p>
                            </center>
                     </div>
                </div>
                  </div>
                </div>
              </div>
</body>

</html>
