<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Menu</title>
    <nav>
            <div class="nav-wrapper blue darken-3">
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><span class="blue grey-text text-darken-4">
                            <div style="font-family: 'Abel', sans-serif;">
                               <b>8379.6775&nbsp;&nbsp;&nbsp;&nbsp;|</b>
                            </div>
                        </span></li>
                <li><a href="http://127.0.0.1:5000/abouts">About</a></li>
                <li><a href="http://127.0.0.1:5000/signin">Sign In</a></li>
              </ul>
            </div>
          </nav>
    <style>
        .container {
        position: relative;
        text-align: center;
        color: white;
        size: 10cm;
        }
        .centered {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
    </style>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/a2a39ff18e.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
</head>
<body><br><br>
    <a href="http://127.0.0.1:5000/">
      <div style="width: 340px; height: 180px; overflow: hidden">
          <img sclass="centered-and-cropped" src="http://127.0.0.1:5000/file/ayosehat.png" alt="" height="80" width="300">
      </div>
    </a>
    <div class="container" style="width: fit-content">
            <div class="row">
                <img class="col s10 m8" src="http://127.0.0.1:5000/file/tangan.png" alt="help" style="height: 500px">
                <div class="centered">
                    <h1>
                        <span class="white">
                            <div style="font-family: 'Roboto',sans-serif;font-size: 1.1cm">
                                Access Anytime Anywhere</div>
                                <div style="font-family: 'Roboto',sans-serif;font-size: .6cm">
                                Find your way to the best care.
                            </div>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="card-panel blue darken-4">
    <div class="row">
        <div class="col s6">
            <div class="card-panel blue darken-3"><h2 class="center-align"><span class="blue-text text-lighten-5">Heart Disease</span></h2><h5 class="center-align"><span class="blue-text text-lighten-5">Symptoms, Sign, etc</span></h5><br><div class="center-align"><a href="http://127.0.0.1:5000/hearter" class="waves-effect waves-light btn"><span class="blue-text text-lighten-5"><i class="material-icons right">send</i>Learn More</span></a></div></div>
        </div>
        <div class="col s6">
            <div class="card-panel blue darken-3"><h2 class="center-align"><span class="blue-text text-lighten-5">Location & Directions</span></h2><h5 class="center-align"><span class="blue-text text-lighten-5">Find maps and more for all locations</span></h5><br><div class="center-align"><a href="http://127.0.0.1:5000/direction" class="waves-effect waves-light btn"><span class="blue-text text-lighten-5"><i class="material-icons right">send</i>Get Direction</span></a></div></div>
        </div>
    </div>
</div>
    <div class="video-container" style="size: 100px">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/y6QJceOAVY0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card-panel blue accent-1">
        <div class="center-align">
            <h1>
             <span class="grey-text text-darken-3">
                    What To Expect On Your Initial Visit
            </span>
            </h1>
        </div><br>
        <div class="row">
            <div class="col s12 offset-s1">
                <h2>
                    <span class="grey-text text-darken-3">First &nbsp;&nbsp; </span><h5><span class="grey-text text-darken-3"> Always bring a list of your current medications. A list detailing your current medications (including name, dose, and frequency of use) is an invaluable resource for your cardiologist.</span></h5>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-s1">
                <h2>
                    <span class="grey-text text-darken-3">Second &nbsp;&nbsp; </span><h5><span class="grey-text text-darken-3">Carry a list of your health care providers including name, address, telephone number, and condition being followed. This will help ensure that communication between your cardiothoracic surgeon and all of your other care providers is complete.</span></h5>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-s1">
                <h2>
                    <span class="grey-text text-darken-3">Third &nbsp;&nbsp; </span><h5><span class="grey-text text-darken-3">Compile a list of your past health history. Important to include are any surgical procedures (with at least approximate dates), a list of any major prior or ongoing illnesses/health issues, and a list of any major tests, especially if performed within the last year. Knowing past health events can help the cardiothoracic surgeon make a more informed diagnosis or prescribe the best course of treatment.</span></h5>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-s1">
                <h2>
                    <span class="grey-text text-darken-3">Fourth &nbsp;&nbsp; </span><h5><span class="grey-text text-darken-3">Compile a family health history of close blood relatives. From a cardiothoracic specialist’s perspective, what you are especially interested in finding out is whether any of your relatives have been diagnosed with heart disease, high blood pressure, high cholesterol, diabetes, or aneurysm. A family history of health events can provide clues as to what illnesses/conditions you may be at risk for developing.</span></h5>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-s1">
                <h2>
                    <span class="grey-text text-darken-3">Fifth &nbsp;&nbsp; </span><h5><span class="grey-text text-darken-3">If you have them, bring in copies of any recent lab results and any other test results from the past year, especially if the testing took place with a different health care provider. This will help avoid duplicating tests unnecessarily. Quality care begins with good communication and a good cardiologist will take time to listen to the patient and to suggest the best possible treatment option.</span></h5>
                </h2>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="http://ncapa.org/wp-content/uploads/2013/10/job-listings-header.final_.jpg" alt="Snow" style="width:100%;">
            <div class="centered">
                <h3>
                    <span class="black-text text-black">
                            <div style="font-family: 'Roboto',sans-serif;">
                            <b> Get a Heart Second Opinion from the Nation’s Best Clinic is here for you.</b>
                            </div>
                    </span>
                <h3><br>
                <h4>
                    <span class="black-text text-black">
                            <div style="font-family: 'Roboto',sans-serif;">
                            Predict Your Heart Health Now.
                            </div>
                    </span>
                <h4><br>               
            </div>
    </div><br>
    <center><a href="http://127.0.0.1:5000/error"><button class="btn waves-effect waves-light" type="submit" name="action">Predict
        <i class="material-icons right">send</i>
    </a> </button></center><br>
    <div class="card-panel indigo-lighten-5">
        <div class="row">
            <div class="col s12 offset-s1"><h2><span class="indigo-text text-darken-4">Ayo Sehat Clinic News & More</span></h2></div>
        </div><br>
        <div class="row">
            <div class="col s3 offset-s1"><a href="https://www.sciencedaily.com/releases/2019/09/190911142821.htm"><img src="https://www.sciencedaily.com/images/2019/09/190911142821_1_540x360.jpg" alt="heart"></a></div>
            <div class="col s3 "><a href="https://www.sciencedaily.com/releases/2019/08/190819082451.htm"><img src="https://www.sciencedaily.com/images/2019/08/190819082451_1_540x360.jpg" alt="heart"></a></div>
        </div>
        <div class="row">
                <div class="col s3 offset-s1"><a href="https://www.sciencedaily.com/releases/2019/09/190911142821.htm"><u><b>FDA phase 1 trial shows hydrogel to repair heart is safe to inject in humans -- a first</b></u></a></div>
                <div class="col s3 "><a href="https://www.sciencedaily.com/releases/2019/08/190819082451.htm"><u><b>Insomnia tied to higher risk of heart disease and stroke</b></u></a></div>
            </div>
        <div class="row">
                <div class="col s3 offset-s1"><a href="https://www.sciencedaily.com/releases/2019/09/190903091437.htm"><img src="https://www.sciencedaily.com/images/2019/09/190903091437_1_540x360.jpg" alt="heart"></a></div>
                <div class="col s3 "><a href="https://www.sciencedaily.com/releases/2019/09/190909193211.htm"><img src="https://www.sciencedaily.com/images/2019/09/190909193211_1_540x360.jpg" alt="heart"></a></div>
        </div>
        <div class="row">
                <div class="col s3 offset-s1"><a href="https://www.sciencedaily.com/releases/2019/09/190903091437.htm"><u><b>Poor diet can lead to blindness, case study shows</b></u></a></div>
                <div class="col s3 "><a href="https://www.sciencedaily.com/releases/2019/09/190909193211.htm"><u><b> Why people gain weight as they get older </b></u></a></div>
        </div>
    </div>
    <div class="card-panel blue-grey darken-4">
            <div class="center-align">
                <h5>
                    <span class="white-text text-white">
                        <div style="font-family: 'Abel', sans-serif;">
                        Call Us At
                        </div>
                    </span>
                </h5>
                <h4>
                    <span class="blue-text text-darken-1">
                        <div style="font-family: 'Abel', sans-serif;">
                            8379.6775
                        </div>
                    </span>
                </h4>
            </div>
    </div>
</body>
<footer class="page-footer blue darken-3"> 
        <div class="footer-copyright">
          <div class="container">
          <center> © 2019 Ayo Sehat Clinic</center>
          </div>
        </div>
      </footer>
</html>
